@(forecast: models.Forecast)

<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/forecast.css")">
      <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
  </head>
  <body>
      <h1>@forecast.getLocation().getName() @forecast.getNumberOfDays() Day Forecast</h1>

      <a href="/location/search">
        <button id = "searchButton">Search</button>
      </a>
      
      <div class="forecast">
      @for(day <- forecast.getDays()) {
        <span>
          <h2>@day.getDayOfTheWeek()</h2>
          <ul>
            <li>@day.getDateAsString()</li>
            <li>@day.getDescription()</li>
            <li>High @day.getTemperatureHigh() °C</li>
            <li>Low @day.getTemperatureLow() °C</li>
          </ul>
        </span>
      }
    </div>
  </body>

</html>
